doctype html
html
  head
    title= title + " | " + appname
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='/javascripts/deleteTask.js')


  body

    h2 TO DO APP

    include navigation

    block content


