block navigation

    ul.nav_list
        li.nav_link
            a(href="/tasks") All tasks
        li.nav_link
            a(href="/tasks/completed") Completed tasks
        li.nav_link
            a(href="/about") About this application

